.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: var(--color-primary) !important; */
    color: #eee !important;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerRight {
    display: flex;
    align-items: center;
}
.headerRight div {
    cursor: pointer;
}

.headerTitle {
    font-size: 1.5rem;
    margin-right: 3rem;
    cursor: pointer;
    color: white;
}

.headerNav ul {
    display: flex;
}

.headerNav ul li a {
    text-decoration: none;
    color: white;
    padding-right: 2rem;
    font-size: 1.1rem;
}

.themeDropdown a div div img {
    max-width: 2rem !important;
}

.themeDropdown a::after {
    display: none;
}

.footer {
    min-height: 20vh !important;
    display: flex;
    color: black;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
}